## Preparing data for machine learning

In [91]:
import pandas as pd

In [92]:
pd.set_option('display.max_rows',100)
data= pd.read_csv('income.csv')

In [93]:
data.head()

,age,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income_>50K
0,67,Private,366425.0,Doctorate,16,Divorced,Exec-managerial,Not-in-family,White,Male,99999,0,60,United-States,1
1,17,Private,244602.0,12th,8,Never-married,Other-service,Own-child,White,Male,0,0,15,United-States,0
2,31,Private,174201.0,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,40,United-States,1
3,58,State-gov,110199.0,7th-8th,4,Married-civ-spouse,Transport-moving,Husband,White,Male,0,0,40,United-States,0
4,25,State-gov,149248.0,Some-college,10,Never-married,Other-service,Not-in-family,Black,Male,0,0,40,United-States,0

In [94]:
data.shape

(43957, 15)

## Train-Test-Split our data

In [95]:
from sklearn.model_selection import train_test_split
x=data.iloc[:,0:-1]
y=data.iloc[:,-1]
x_train,x_test,y_train,y_test= train_test_split(x,y)

### Dealing with missing data

In [96]:
x_train.isnull().sum()

age                   0
workclass          1894
fnlwgt               66
education             0
educational-num       0
marital-status        0
occupation         1899
relationship          0
race                  0
gender                0
capital-gain          0
capital-loss          0
hours-per-week        0
native-country      589
dtype: int64

In [97]:
x_test.isnull().sum()

age                  0
workclass          604
fnlwgt              23
education            0
educational-num      0
marital-status       0
occupation         607
relationship         0
race                 0
gender               0
capital-gain         0
capital-loss         0
hours-per-week       0
native-country     174
dtype: int64

#### Method one drop rows with missing data

In [98]:
data.dropna(how='any',inplace=False).head()
# Dropping the row where any single value is missing.

,age,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income_>50K
0,67,Private,366425.0,Doctorate,16,Divorced,Exec-managerial,Not-in-family,White,Male,99999,0,60,United-States,1
1,17,Private,244602.0,12th,8,Never-married,Other-service,Own-child,White,Male,0,0,15,United-States,0
2,31,Private,174201.0,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,40,United-States,1
3,58,State-gov,110199.0,7th-8th,4,Married-civ-spouse,Transport-moving,Husband,White,Male,0,0,40,United-States,0
4,25,State-gov,149248.0,Some-college,10,Never-married,Other-service,Not-in-family,Black,Male,0,0,40,United-States,0

In [99]:
data.dropna(how='any',inplace=False).shape

(40643, 15)

In [100]:
data.dropna(how='all',inplace=False).shape
## Dropping the row where all values are missing

(43957, 15)

In [101]:
data.dropna(subset=["workclass","occupation","native-country"],how='any',inplace=False).head(20)

,age,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income_>50K
0,67,Private,366425.0,Doctorate,16,Divorced,Exec-managerial,Not-in-family,White,Male,99999,0,60,United-States,1
1,17,Private,244602.0,12th,8,Never-married,Other-service,Own-child,White,Male,0,0,15,United-States,0
2,31,Private,174201.0,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,40,United-States,1
3,58,State-gov,110199.0,7th-8th,4,Married-civ-spouse,Transport-moving,Husband,White,Male,0,0,40,United-States,0
4,25,State-gov,149248.0,Some-college,10,Never-married,Other-service,Not-in-family,Black,Male,0,0,40,United-States,0
5,59,State-gov,NaN,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,40,United-States,0
6,70,Private,216390.0,9th,5,Married-civ-spouse,Machine-op-inspct,Wife,White,Female,2653,0,40,United-States,0
7,35,Self-emp-not-inc,361888.0,Bachelors,13,Married-civ-spouse,Sales,Husband,White,Male,0,0,60,Japan,0
8,28,Private,NaN,HS-grad,9,Never-married,Handlers-cleaners,Not-in-family,White,Male,0,0,50,United-States,0
9,28,Private,118089.0,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,White,Male,4386,0,45,United-States,1
10,21,Private,138513.0,Some-college,10,Never-married,Exec-managerial,Own-child,White,Male,0,0,25,United-States,0
11,30,Self-emp-not-inc,NaN,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Own-child,Asian-Pac-Islander,Male,0,0,60,South,0
12,59,Self-emp-not-inc,241297.0,Some-college,10,Widowed,Farming-fishing,Not-in-family,White,Female,6849,0,40,United-States,0
13,20,Private,39764.0,HS-grad,9,Never-married,Handlers-cleaners,Own-child,White,Male,0,0,40,United-States,0
14,45,Private,30690.0,7th-8th,4,Never-married,Other-service,Not-in-family,White,Male,0,0,10,United-States,0
15,76,Private,316185.0,7th-8th,4,Widowed,Protective-serv,Not-in-family,White,Female,0,0,12,United-States,0
16,30,Private,110239.0,10th,6,Married-civ-spouse,Transport-moving,Husband,White,Male,0,0,55,United-States,0
17,54,Federal-gov,278076.0,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,White,Male,5178,0,40,United-States,1
18,19,Local-gov,259169.0,Some-college,10,Never-married,Prof-specialty,Own-child,White,Female,0,0,30,United-States,0
19,44,Private,136986.0,Doctorate,16,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,50,United-States,1

In [102]:
data.dropna(subset=["native-country"],how='any',inplace=False)

,age,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income_>50K
0,67,Private,366425.0,Doctorate,16,Divorced,Exec-managerial,Not-in-family,White,Male,99999,0,60,United-States,1
1,17,Private,244602.0,12th,8,Never-married,Other-service,Own-child,White,Male,0,0,15,United-States,0
2,31,Private,174201.0,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,40,United-States,1
3,58,State-gov,110199.0,7th-8th,4,Married-civ-spouse,Transport-moving,Husband,White,Male,0,0,40,United-States,0
4,25,State-gov,149248.0,Some-college,10,Never-married,Other-service,Not-in-family,Black,Male,0,0,40,United-States,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
43952,52,Private,68982.0,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,50,United-States,1
43953,19,Private,116562.0,HS-grad,9,Never-married,Other-service,Own-child,White,Female,0,0,40,United-States,0
43954,30,Private,197947.0,Some-college,10,Divorced,Sales,Not-in-family,White,Male,0,0,58,United-States,0
43955,46,Private,97883.0,Bachelors,13,Never-married,Sales,Not-in-family,White,Female,0,0,35,United-States,0
43956,30,Private,375827.0,HS-grad,9,Never-married,Handlers-cleaners,Other-relative,White,Male,0,0,40,United-States,0

#### Impute missing values with average

In [103]:
from sklearn.impute import SimpleImputer
import numpy as np

In [104]:
x_train.head(50)

,age,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country
14685,26,Private,102476.0,Some-college,10,Never-married,Other-service,Own-child,White,Male,0,0,40,United-States
22560,46,State-gov,209739.0,10th,6,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,38,United-States
37912,23,Local-gov,314819.0,HS-grad,9,Never-married,Transport-moving,Own-child,White,Male,0,0,40,United-States
18202,19,Private,235849.0,HS-grad,9,Never-married,Transport-moving,Own-child,White,Male,0,0,35,United-States
22750,24,Federal-gov,59948.0,HS-grad,9,Never-married,Prof-specialty,Unmarried,Black,Female,0,0,40,United-States
43447,41,Private,197033.0,Some-college,10,Married-civ-spouse,Other-service,Husband,White,Male,0,0,35,United-States
25424,45,NaN,98265.0,HS-grad,9,Divorced,NaN,Not-in-family,White,Female,0,0,40,United-States
5483,39,Federal-gov,32312.0,Bachelors,13,Never-married,Prof-specialty,Not-in-family,White,Female,0,0,60,United-States
20944,46,Private,155659.0,Bachelors,13,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,Germany
41277,23,Federal-gov,53245.0,Bachelors,13,Never-married,Prof-specialty,Not-in-family,White,Male,0,0,40,United-States
1952,60,State-gov,119832.0,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,40,United-States
794,46,Private,153536.0,Some-college,10,Married-civ-spouse,Exec-managerial,Husband,White,Male,3103,0,40,United-States
19639,42,Private,383493.0,Some-college,10,Married-civ-spouse,Exec-managerial,Husband,White,Male,15024,0,50,United-States
30230,21,Private,262819.0,Some-college,10,Never-married,Other-service,Not-in-family,White,Female,0,0,20,United-States
21596,32,Private,90969.0,Assoc-voc,11,Married-civ-spouse,Transport-moving,Husband,White,Male,0,0,45,United-States
27719,47,Private,185400.0,11th,7,Married-civ-spouse,Transport-moving,Husband,White,Male,0,0,70,United-States
21275,32,Self-emp-not-inc,455995.0,Bachelors,13,Divorced,Exec-managerial,Not-in-family,White,Male,0,0,50,United-States
1455,52,Private,22154.0,Some-college,10,Married-civ-spouse,Sales,Husband,White,Male,0,0,40,United-States
4057,53,Self-emp-inc,152810.0,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,White,Male,5178,0,45,United-States
29207,20,NaN,41356.0,Assoc-acdm,12,Never-married,NaN,Not-in-family,White,Female,0,0,32,United-States
10373,26,Private,104045.0,Bachelors,13,Never-married,Exec-managerial,Not-in-family,White,Female,0,0,40,United-States
43738,40,Private,107306.0,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,40,United-States
23828,70,NaN,30772.0,7th-8th,4,Married-civ-spouse,NaN,Husband,White,Male,0,0,40,United-States
43236,30,Private,177531.0,HS-grad,9,Never-married,Sales,Unmarried,Black,Female,0,0,25,United-States
6217,40,Private,111067.0,Bachelors,13,Married-civ-spouse,Handlers-cleaners,Husband,White,Male,0,0,80,United-States
19994,35,Self-emp-not-inc,194404.0,Assoc-acdm,12,Never-married,Farming-fishing,Not-in-family,White,Male,0,0,40,United-States
5129,66,NaN,260111.0,Some-college,10,Married-civ-spouse,NaN,Husband,White,Male,0,0,40,United-States
11857,54,Private,98535.0,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,40,United-States
9666,47,Self-emp-not-inc,185673.0,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,50,United-States
15300,22,Private,267174.0,HS-grad,9,Never-married,Handlers-cleaners,Own-child,Black,Male,0,0,40,United-States
4576,41,Private,343121.0,HS-grad,9,Divorced,Adm-clerical,Unmarried,White,Female,0,0,36,United-States
13599,38,Self-emp-inc,105044.0,HS-grad,9,Divorced,Craft-repair,Not-in-family,White,Male,0,0,40,United-States
25136,34,Private,205152.0,HS-grad,9,Married-civ-spouse,Handlers-cleaners,Husband,White,Male,0,0,40,United-States
3417,51,Private,106728.0,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,5178,0,60,United-States
6717,35,Private,111499.0,HS-grad,9,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,40,United-States
34448,38,Private,184801.0,Bachelors,13,Married-civ-spouse,Sales,Husband,White,Male,0,0,60,United-States
10292,38,State-gov,116975.0,Some-college,10,Married-civ-spouse,Protective-serv,Husband,White,Male,0,1887,50,United-States
31442,55,Private,49737.0,Some-college,10,Married-civ-spouse,Sales,Husband,White,Male,0,0,50,United-States
41982,26,Self-emp-not-inc,68729.0,HS-grad,9,Never-married,Sales,Other-relative,Asian-Pac-Islander,Male,0,0,50,United-States
4062,72,Self-emp-not-inc,28865.0,7th-8th,4,Married-civ-spouse,Transport-moving,Husband,White,Male,0,0,14,United-States
37841,37,Private,73715.0,Some-college,10,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,40,United-States
18842,36,Private,102729.0,Some-college,10,Never-married,Craft-repair,Not-in-family,White,Male,0,0,40,United-States
1948,32,Private,252168.0,Some-college,10,Never-married,Other-service,Not-in-family,Black,Male,0,0,35,United-States
1350,55,Private,393768.0,Assoc-voc,11,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,40,United-States
31060,27,Private,131712.0,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,1485,50,United-States
23675,21,Private,126314.0,Some-college,10,Never-married,Other-service,Own-child,White,Male,0,0,10,United-States
28960,32,Private,288229.0,Some-college,10,Married-civ-spouse,Sales,Other-relative,Asian-Pac-Islander,Female,0,0,40,Greece
5883,65,NaN,105017.0,Bachelors,13,Married-civ-spouse,NaN,Husband,White,Male,0,0,40,United-States
19693,21,Private,154192.0,HS-grad,9,Married-civ-spouse,Handlers-cleaners,Husband,White,Male,0,0,40,United-States
37185,34,Private,337587.0,Some-college,10,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,50,United-States

In [105]:
x_train.isnull().sum()

age                   0
workclass          1894
fnlwgt               66
education             0
educational-num       0
marital-status        0
occupation         1899
relationship          0
race                  0
gender                0
capital-gain          0
capital-loss          0
hours-per-week        0
native-country      589
dtype: int64

In [106]:
imputer = SimpleImputer(missing_values= np.NAN,strategy='mean')
x_train["fnlwgt"] = imputer.fit_transform(x_train["fnlwgt"].values.reshape(-1,1))
x_train

,age,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country
14685,26,Private,102476.0,Some-college,10,Never-married,Other-service,Own-child,White,Male,0,0,40,United-States
22560,46,State-gov,209739.0,10th,6,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,38,United-States
37912,23,Local-gov,314819.0,HS-grad,9,Never-married,Transport-moving,Own-child,White,Male,0,0,40,United-States
18202,19,Private,235849.0,HS-grad,9,Never-married,Transport-moving,Own-child,White,Male,0,0,35,United-States
22750,24,Federal-gov,59948.0,HS-grad,9,Never-married,Prof-specialty,Unmarried,Black,Female,0,0,40,United-States
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35526,53,Federal-gov,59664.0,HS-grad,9,Married-civ-spouse,Sales,Husband,Black,Male,5013,0,40,United-States
18895,46,Private,73541.0,HS-grad,9,Married-civ-spouse,Adm-clerical,Husband,White,Male,0,0,40,United-States
19269,69,Self-emp-not-inc,118174.0,Assoc-acdm,12,Married-civ-spouse,Sales,Husband,White,Male,20051,0,15,United-States
37592,42,Private,209392.0,HS-grad,9,Divorced,Protective-serv,Not-in-family,Black,Male,0,0,35,United-States
6184,44,Private,211531.0,Some-college,10,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,50,United-States

In [107]:
data.isnull().sum()

age                   0
workclass          2498
fnlwgt               89
education             0
educational-num       0
marital-status        0
occupation         2506
relationship          0
race                  0
gender                0
capital-gain          0
capital-loss          0
hours-per-week        0
native-country      763
income_>50K           0
dtype: int64

In [108]:
data["fnlwgt"] = imputer.fit_transform(data["fnlwgt"].values.reshape(-1,1))
data.isnull().sum()

age                   0
workclass          2498
fnlwgt                0
education             0
educational-num       0
marital-status        0
occupation         2506
relationship          0
race                  0
gender                0
capital-gain          0
capital-loss          0
hours-per-week        0
native-country      763
income_>50K           0
dtype: int64

#### Standardizing Variables

In [109]:
data.head()

,age,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income_>50K
0,67,Private,366425.0,Doctorate,16,Divorced,Exec-managerial,Not-in-family,White,Male,99999,0,60,United-States,1
1,17,Private,244602.0,12th,8,Never-married,Other-service,Own-child,White,Male,0,0,15,United-States,0
2,31,Private,174201.0,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,40,United-States,1
3,58,State-gov,110199.0,7th-8th,4,Married-civ-spouse,Transport-moving,Husband,White,Male,0,0,40,United-States,0
4,25,State-gov,149248.0,Some-college,10,Never-married,Other-service,Not-in-family,Black,Male,0,0,40,United-States,0

In [112]:
from sklearn import preprocessing
data["fnlwgt"]= preprocessing.scale(data["fnlwgt"])
data.head(20)

,age,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income_>50K
0,67,Private,1.671403e+00,Doctorate,16,Divorced,Exec-managerial,Not-in-family,White,Male,99999,0,60,United-States,1
1,17,Private,5.192479e-01,12th,8,Never-married,Other-service,Own-child,White,Male,0,0,15,United-States,0
2,31,Private,-1.465775e-01,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,40,United-States,1
3,58,State-gov,-7.518837e-01,7th-8th,4,Married-civ-spouse,Transport-moving,Husband,White,Male,0,0,40,United-States,0
4,25,State-gov,-3.825733e-01,Some-college,10,Never-married,Other-service,Not-in-family,Black,Male,0,0,40,United-States,0
5,59,State-gov,-6.384976e-17,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,40,United-States,0
6,70,Private,2.524297e-01,9th,5,Married-civ-spouse,Machine-op-inspct,Wife,White,Female,2653,0,40,United-States,0
7,35,Self-emp-not-inc,1.628493e+00,Bachelors,13,Married-civ-spouse,Sales,Husband,White,Male,0,0,60,Japan,0
8,28,Private,-6.384976e-17,HS-grad,9,Never-married,Handlers-cleaners,Not-in-family,White,Male,0,0,50,United-States,0
9,28,Private,-6.772631e-01,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,White,Male,4386,0,45,United-States,1
10,21,Private,-4.841008e-01,Some-college,10,Never-married,Exec-managerial,Own-child,White,Male,0,0,25,United-States,0
11,30,Self-emp-not-inc,-6.384976e-17,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Own-child,Asian-Pac-Islander,Male,0,0,60,South,0
12,59,Self-emp-not-inc,4.879905e-01,Some-college,10,Widowed,Farming-fishing,Not-in-family,White,Female,6849,0,40,United-States,0
13,20,Private,-1.418031e+00,HS-grad,9,Never-married,Handlers-cleaners,Own-child,White,Male,0,0,40,United-States,0
14,45,Private,-1.503849e+00,7th-8th,4,Never-married,Other-service,Not-in-family,White,Male,0,0,10,United-States,0
15,76,Private,1.196252e+00,7th-8th,4,Widowed,Protective-serv,Not-in-family,White,Female,0,0,12,United-States,0
16,30,Private,-7.515054e-01,10th,6,Married-civ-spouse,Transport-moving,Husband,White,Male,0,0,55,United-States,0
17,54,Federal-gov,8.358320e-01,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,White,Male,5178,0,40,United-States,1
18,19,Local-gov,6.570169e-01,Some-college,10,Never-married,Prof-specialty,Own-child,White,Female,0,0,30,United-States,0
19,44,Private,-4.985426e-01,Doctorate,16,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,50,United-States,1

In [113]:
data["fnlwgt"].mean()

7.758957917165595e-18

#### Encoding Independent Variables(One Hot Encoding)

In [115]:
from sklearn.compose import ColumnTransformer
import numpy as np

In [116]:
from sklearn.preprocessing import OneHotEncoder

In [121]:
ct= ColumnTransformer(transformers=[('encoder',OneHotEncoder(),[4])], remainder='passthrough')

In [122]:
data =np.array(ct.fit_transform(data))

In [123]:
pd.DataFrame(data)

,0,1,2,3,4,5,6,7,8,9,...,20,21,22,23,24,25,26,27,28,29
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,Divorced,Exec-managerial,Not-in-family,White,Male,99999,0,60,United-States,1
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,Never-married,Other-service,Own-child,White,Male,0,0,15,United-States,0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,40,United-States,1
3,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,Married-civ-spouse,Transport-moving,Husband,White,Male,0,0,40,United-States,0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,Never-married,Other-service,Not-in-family,Black,Male,0,0,40,United-States,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
43952,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,50,United-States,1
43953,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,Never-married,Other-service,Own-child,White,Female,0,0,40,United-States,0
43954,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,Divorced,Sales,Not-in-family,White,Male,0,0,58,United-States,0
43955,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,Never-married,Sales,Not-in-family,White,Female,0,0,35,United-States,0
43956,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,Never-married,Handlers-cleaners,Other-relative,White,Male,0,0,40,United-States,0